/.metadata
/PacMan-vs-Ghosts/.settings
/PacMan-vs-Ghosts/bin
/PacMan-vs-Ghosts-Agents/bin
/PacMan-vs-Ghosts/replay.log
/PacMan-vs-Ghosts-Exercises/.settings
bin
/PacMan-vs-Ghosts-Solutions
/PacMan-vs-Ghosts-Tournament/results
/ExercisesOld
/ExercisesSolutions
/.recommenders
